/* GLOBAL */
body {
  background-color: #2C3E50;
  transition: all .4s cubic-bezier(.165, .84, .44, 1)
}
#app {
  color: white
}
svg path, svg line, .container--features rect {
  fill: white
}
svg path#box {
  fill: none;
  stroke: white
}
button.signUp, input#mc-embedded-subscribe, .darkmode {
  color: white;
  border: 1px solid white
}
button.signUp:hover, input#mc-embedded-subscribe:hover, .darkmode:hover {
  background-color: white;
  color: #2C3E50
}
.input--option {
  color: white
}
#menu > a.input--option {
  color: #2C3E50
}
#menu > a.input--option:before {
  color: #2C3E50
}
.paper {
  background-color: #485868
}
.paper--back rect {
  fill: #485868
}
#menuToggle span.dark {
  background-color: white
}

/* HOME PAGE */
h1#text--good.desc {
  border: 2px solid white
}
h1#text--exceptional.desc {
  border: 2px solid white;
  background-color: white;
  color: #2C3E50
}

/* FEATURES PAGE */
.ql-editor.ql-blank, .ql-editor {
  background-color: #485868
}
.ql-snow .ql-stroke {
  stroke: white
}
.ql-snow .ql-fill {
  fill: white
}
.ql-formats button:hover {
  background-color: #FFFFFF30
}

/* PRICING PAGE */
div.pricing__plans.dark {
  background-color: #485868
}
h2.pro.dark {
  background-color: white;
  color: #2C3E50
}
a.ref--icons8 {
  color: white
}
a.ref--icons8:before {
  background-color: white
}

/* ROADMAP PAGE */
h1#title--involved {
  background-color: white;
  color: #2C3E50
}

/* Explore */
input#mce-EMAIL.email {
  border-bottom: 1px solid white;
  color: white
}
input#mce-EMAIL::placeholder {
  color: white
}
